<html>
<head>

</head>
<body>
<center>
<h2 style="color:black">CATEGORY</h2>
<table cellspacing="16" height="65%" cellpadding="11" border="0">
<tr>
<td><a href="home.html" target="frame30">HOME</a></td>
</tr>
<tr>
<td><a href="profile.html" target="frame30">PROFILE</a></td>
</tr>
<tr>
<td><a href="manage.html" target="frame30">SETUP YOUR APARTMENT</a></td>
</tr>
<tr>
<td><a href="apt.html" target="frame30">VIEW YOUR APATMENT</a></td>
</tr>
<tr>
<td><a href="set.html" target="frame30">MANAGE YOUR APATMENT</a></td>
</tr>
<tr>
<td><a href="contact.html" target="frame30">CONTACT</a></td>
</tr>
</table>
</center>
</body>
</html>